{% extends 'layout/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <h3 class="card-title mb-4">Register User</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.label_tag }}
                    {{ form.confirm_password }}
                </div>
                <div class="form-check mb-3">
                    {{ form.is_superuser }} {{ form.is_superuser.label_tag }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
